{% extends './common/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  {% parent %}
   <link rel="stylesheet" type="text/css" href="/css/github-markdown.css" />
   <link rel="stylesheet" type="text/css" href="/css/doc.css" />
{% endblock %}

{% block content %}
  {% parent %}
<div class="content">
	<article class="content-doc markdown-body">
		<div class="content-doc-wrapper">
			<!-- <h3 class="content-doc-title"><a href="{{ doc.url }}">{{ doc.name }}</a></h3> -->
			{{ doc.html|safe }}
		</div>
	</article>
</div>
{% endblock %}
